<?xml version="1.0"?>
<launch>
  <include file="$(find ia_slam)/launch/ia_slam_gen.launch">       
     <arg name="id_rob" value="1" />
  </include> 
  <include file="$(find ia_slam)/launch/ia_slam_gen.launch">       
     <arg name="id_rob" value="2" />
  </include> 
  <include file="$(find ia_slam)/launch/ia_slam_gen.launch">       
     <arg name="id_rob" value="3" />
  </include> 
</launch>
