# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#tex

*.log
*.bbl
*.lof
*.out
*.pdf
*.gz
*.toc
*.blg
*.lot
*.aux
*.glo
*.glsdefs
*.ist
*.nav
*.snm
*~
